body {
    background: url(../odin-recipes/photos/Toast.jpeg);
}

.title,
.desc {
    background-color: peachpuff;
    color: brown;
    text-align: center;
}
ul {
    text-align: center;
    list-style-position: inside;
    background-color: peachpuff;
    color: brown;
}
.link {
    color: brown;
}